html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#main_body {
  display: inline;
  font-family: helvetica, arial, sans-serif;
  font-size: 1.5vw;
  /* padding-top: 330px; */
  -moz-transition: padding-top 0.5s ease;
  -o-transition: padding-top 0.5s ease;
  -webkit-transition: padding-top 0.5s ease;
  transition: padding-top 0.5s ease;
  background-color: #222831;
  background: url("../img/bg3.jpg") top no-repeat;
  background-size: cover;
}

header {
  width: 100%;
  height: 100%;
  background-color: #222831;
  background: url("../img/intro-bg.jpg") top no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  position: fixed;
  top: 0;
  overflow: hidden;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 300;
}
header h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5vh;
  color: #EEEEEE;
  -webkit-text-stroke: 1px rgba(0,0,0,.5);
  text-shadow: 1px 1px 5px #000;
  line-height: 230px;
  font-weight: 400;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header nav {
  font-size: 1.4vw;
  position: absolute;
  bottom: 0;
  height: 6vh;
  line-height: 6vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}
header nav a {
  color: #EEEEEE;
  display: inline-block;
  padding: 10px 15px;
  line-height: 1;
  text-decoration: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
header nav a:hover {
  color: #00ADB5;
}

.header_button_active {
  color: #EEEEEE;
  display: inline-block;
  padding: 10px 15px;
  line-height: 1;
  text-decoration: underline;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

h2 {
  font-size: 2vw;
  text-transform: uppercase;
  font-weight: 100;
  line-height: 2;
  color: #EEEEEE;
}

h3 {
  color: #FFE4B5;
}


p {
  margin-bottom: 2rem;
  line-height: 2;
  color: #EEEEEE;
}

.wrapper {
  width: 75%;
  margin: 0 auto;
  margin-top: 30%;
}

section {
  font-size: 1.5vw;
  padding: 2vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  background-color: #393e46d5;
  /* background: url("../img/bg.jpg") top no-repeat; */
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

section h2{
  font-size: 2.5vw;
}
section h3{
  font-size: 2vw;
  color: #FFE4B5;
  padding-bottom: 2%;
}

section p{
  max-width: 95%;
  overflow: hidden;
  display: -webkit-box;
  /*-webkit-line-clamp: 3;*/
  -webkit-box-orient: vertical;
  line-height: 1.2;
}

section a {
  font-size: 1.5vw;
  color: #EEEEEE;
  background: #00ADB5;
  -moz-box-shadow: 0 0 0 1px #00ADB5;
  -webkit-box-shadow: 0 0 0 1px #00ADB5;
  box-shadow: 0 0 0 1px #00ADB5;
  display: inline-block;
  padding: 10px 15px;
  line-height: 1;
  text-decoration: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

section a:hover {
  color: #000;
}

#scrool_to {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0px #00ADB5;
  -webkit-box-shadow: 0 0 0 0px #00ADB5;
  box-shadow: 0 0 0 0px #00ADB5;
}

/* Generals styles */
/* ---------------------------------------- */
#img_flag {
  width: 2.5vw;
  height: 1.5vw;
  background-size: contain;
  border-color: rgba(0, 0, 0, 0);
}

#general_photo {
  width: auto;
  height: 40vh;
  background-size: contain;
  border-color: rgba(0, 0, 0, 0);
}

#short_general_photo {
  width: auto;
  height: 30vh;
  background-size: contain;
  border-color: rgba(0, 0, 0, 0);
}

.general_div {
  display: flex;
  align-items: top;
}
.short_general_div {
  padding-top: 1%;
  display: flex;
  align-items: flex-start;
}

.short_general_text {
  order: 2;
  height: 100%;
  max-width: 65%;
}

.short_general_text p {
  line-height: 1.2;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.short_general_photo {
  order: 1;
  padding-right: 2%;
  padding-left: 0.2%;
  height: 100%;
  max-width: 30%;
}

.general_short_info_section {
  order: 2;
  flex-grow: 1;
  height: 100%;
  max-height: 50vh;
  margin-left: 1vw;
  align-items: center;
}

.general_short_info_section p {
  max-width: 95%;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.general_text {
  order: 1;
  flex-grow: 4;
  height: 100%;
}

.general_photo {
  order: 2;
  padding-right: 2%;
  padding-left: 2%;
  flex-grow: 2;
  height: 100%;
}

/* Actions styles */
/* ---------------------------------------- */

.action_div {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
}

.history_action {
  align-self: flex-start;
  margin-right: auto;
  margin: 1.5%;
  order: 1;
  flex-grow: 2;
  height: 100%;
  max-width: 45%;
}

.literature_action {
  margin: 1.5%;
  margin-left: auto;
  align-self: flex-start;
  order: 2;
  flex-grow: 2;
  height: 100%;
  max-width: 45%;
}

/* Interactive map styles */
/* ---------------------------------------- */
.map_section {
  text-align: center;
}

.map_section h2{
  margin-bottom: -5%;
}

.interactive_map {
  width: 120%;
  height: auto;
  margin-left: -10%;
}

.map_img {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
}

#arrows_svg_1917 {
  width: 35%;
  margin-top: -38%;
  z-index: 80
}


#map1917{
  background: url("../img/map_template_clouds.png") center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 46.64%;
}

#map1918 {
  background: url("../img/map_template_clouds.png") center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 46.64%;
}
#map1919 {
  background: url("../img/map_template_clouds.png") center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 46.64%;
}
#map1920 {
  background: url("../img/map_template_clouds.png") center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 46.64%;
}

.map_years_box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -6%;
}

.map_years_box a{
  display: inline-block;
  font-size: 1.2vw;
  line-height: 1;
  margin-top: 1%;
  margin-right: 2.5%;
  margin-left: 2.5%;
  border-radius: 10%;
  border-color: rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0px #00ADB5;
  -webkit-box-shadow: 0 0 0 0px #00ADB5;
  box-shadow: 0 0 0 0px #00ADB5;
  text-align: center;
  z-index: 100;
}

.interactive_map_year_button_active {
  display: inline-block;
  background-color: #222831;
  padding: 10px 15px;
  line-height: 1;
  margin-right: 2.5%;
  margin-left: 2.5%;
}

/* map arrows */
.arrows_svg :hover{
  cursor: pointer;
}

path {
  cursor: pointer;
}

/* action buttons */



/* Sticky Header Style */
/* ---------------------------------------- */
body.sticky-header {
  padding-top: 100px;
}
body.sticky-header header {
  height: 6vh;
  background-color: rgba(0, 0, 0, 0.5);
}
body.sticky-header header h1 {
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}

.main_footer {
  display: block;
  background: #222831;
  text-align: center;
  font-size: 2vh;
  padding: 1.5vh;
  color: #EEEEEE;
  width: 100%;
  height: 5vh;
  margin-top: 10vh;
}
