html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#main_body {
  display: inline;
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  /* padding-top: 330px; */
  -moz-transition: padding-top 0.5s ease;
  -o-transition: padding-top 0.5s ease;
  -webkit-transition: padding-top 0.5s ease;
  transition: padding-top 0.5s ease;
  background-color: #222831;
  background: url("../img/bg3.jpg") top no-repeat;
  background-size: cover;
}

header {
  width: 100%;
  height: 100%;
  background-color: #222831;
  background: url("../img/intro-bg.jpg") top no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  position: fixed;
  top: 0;
  overflow: hidden;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 100;
}
header h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: #EEEEEE;
  -webkit-text-stroke: 1px rgba(0,0,0,.5);
  text-shadow: 1px 1px 5px #000;
  line-height: 230px;
  font-weight: 400;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header nav {
  font-size: 22px;
  position: absolute;
  bottom: 0;
  height: 60px;
  line-height: 60px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}
header nav a {
  color: #EEEEEE;
  display: inline-block;
  padding: 10px 15px;
  line-height: 1;
  text-decoration: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
header nav a:hover {
  color: #00ADB5;
}

.header_button_active {
  color: #EEEEEE;
  display: inline-block;
  padding: 10px 15px;
  line-height: 1;
  text-decoration: underline;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

h2 {
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 100;
  line-height: 2;
  color: #EEEEEE;
}

p {
  margin-bottom: 2rem;
  line-height: 2;
  color: #EEEEEE;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  margin-top: 30%;
}

section {
  font-size: 20px;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #393e46d5;
  /* background: url("../img/bg.jpg") top no-repeat; */
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

section a {
  font-size: 22px;
  color: #EEEEEE;
  background: #00ADB5;
  -moz-box-shadow: 0 0 0 1px #00ADB5;
  -webkit-box-shadow: 0 0 0 1px #00ADB5;
  box-shadow: 0 0 0 1px #00ADB5;
  display: inline-block;
  padding: 10px 15px;
  line-height: 1;
  text-decoration: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

section a:hover {
  color: #000;
}

#scrool_to {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0px #00ADB5;
  -webkit-box-shadow: 0 0 0 0px #00ADB5;
  box-shadow: 0 0 0 0px #00ADB5;
}

/* Interactive map styles */
/* ---------------------------------------- */
.map_section {
  text-align: center;
}

.map_img {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

#map1917 {
  background: url("https://pbs.twimg.com/media/EHWkKGzU0AAQ1rT.jpg") center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 46.64%;
}

#map1918 {
  background: url("http://media1.s-nbcnews.com/j/newscms/2016_11/1464786/160318-rostov-on-don-russia-mn-2250_8117f42147e064104615f0db45afa7ab.nbcnews-ux-2880-1000.jpg") center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 46.64%;
}

.map_years_box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.map_years_box a{
  display: inline-block;
  font-size: 22px;
  line-height: 1;
  margin-top: 1%;
  margin-right: 2.5%;
  margin-left: 2.5%;
  border-radius: 10%;
  border-color: rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0px #00ADB5;
  -webkit-box-shadow: 0 0 0 0px #00ADB5;
  box-shadow: 0 0 0 0px #00ADB5;
  text-align: center;
}

.interactive_map_year_button_active {
  display: inline-block;
  background-color: #222831;
  padding: 10px 15px;
  line-height: 1;
  margin-right: 2.5%;
  margin-left: 2.5%;
}

/* action buttons */



/* Sticky Header Style */
/* ---------------------------------------- */
body.sticky-header {
  padding-top: 100px;
}
body.sticky-header header {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
}
body.sticky-header header h1 {
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}

.main_footer {
  display: block;
  background: #222831;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  color: #EEEEEE;
  width: 100%;
  height: 50%;
  margin-top: 10vh;
}
